{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Gebruiker aanmaken{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            <div class="col-sm-4">
                <div class="box box-primary box-padding-small">
                    <div class="box-header with-border">
                        <h3 class="box-title">Persoonlijke informatie</h3>
                    </div>
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.dayOfBirth) }}
                    {{ form_row(form.citizenServiceNumber) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.houseNumber) }}
                    {{ form_row(form.zipcode) }}
                    {{ form_row(form.country) }}
                    {{ form_row(form.phone) }}
                    {{ form_row(form.mobilePhone) }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box box-primary box-padding-small">
                    <div class="box-header with-border">
                        <h3 class="box-title">Account informatie</h3>
                    </div>
                    {{ form_row(form.username) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.isActive) }}
                    {{ form_row(form.roles) }}
                    <h5 class="header">* De beheerder heeft alle rechten en kan overal bij</h5>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box box-primary box-padding-small">
                    <div class="box-header with-border">
                        <h3 class="box-title">Werknemersinformatie</h3>
                    </div>
                    {{ form_row(form.startContract) }}
                    {{ form_row(form.endContract) }}
                    {{ form_row(form.reasonEndContract) }}
                    {{ form_row(form.emergencyContact) }}
                    {{ form_row(form.emergencyContactPhone) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            {{ outputFormButton('Aanmaken') }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}