{% extends '@Backend/Base/Base.html.twig' %}
{% block pagesubtitle %}Gebruiker aanpassen{% endblock %}
{% block body %}
    <div class="ui tab segment active">
        <div class="ui sixteen column grid container">
            <div class="sixteen wide column">
                {{ form_start(form) }}
                <div class="ui three column very relaxed grid">
                    <div class="column">
                        <h3 class="ui header">Persoonlijke informatie</h3>
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.dayOfBirth) }}
                        {{ form_row(form.citizenServiceNumber) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.houseNumber) }}
                        {{ form_row(form.zipcode) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.mobilePhone) }}
                    </div>

                    <div class="column">
                        <h3 class="ui header">Account informatie</h3>
                        {{ form_row(form.username) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.isActive) }}
                        {{ form_row(form.roles) }}
                        <h5 class="header">* De beheerder heeft alle rechten en kan overal bij</h5>
                    </div>

                    <div class="column">
                        <h3 class="ui header">Werknemersinformatie</h3>
                        {{ form_row(form.startContract) }}
                        {{ form_row(form.endContract) }}
                        {{ form_row(form.reasonEndContract) }}
                        {{ form_row(form.emergencyContact) }}
                        {{ form_row(form.emergencyContactPhone) }}
                    </div>
                </div>
                <div class="ui horizontal divider"></div>
                {{ outputFormButton('Bijwerken') }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}