{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Profiel{% endblock %}
{% block body %}
    <div class="ui sixteen column very relaxed grid">
        <div class="eight wide column">
            <div class="ui small image">
                {% if user.picture %}
                    <img src="{{ user.picture.publicurl }}" alt="user_picture">
                {% else %}
                    <img src="{{ asset('img/no_picture.jpg') }}" alt="user_picture">
                {% endif %}
            </div>
            <table class="ui table very basic">
                <tbody>
                <tr>
                    <td>Gebruikersnaam</td>
                    <td>{{ user.firstname }} {{ user.lastname }}</td>
                </tr>
                <tr>
                    <td>BSN/Rijksnummer:</td>
                    <td>{{ user.citizenServiceNumber }}</td>
                </tr>
                <tr>
                    <td>Adres:</td>
                    <td>{{ user.address }} {{ user.houseNumber }}</td>
                </tr>
                <tr>
                    <td>Postcode:</td>
                    <td>{{ user.zipcode }}</td>
                </tr>
                <tr>
                    <td>Land:</td>
                    <td>{{ user.country }}</td>
                </tr>
                <tr>
                    <td>Telefoonnummer:</td>
                    <td>{{ user.phone }}</td>
                </tr>
                <tr>
                    <td>Mobiel:</td>
                    <td>{{ user.mobilePhone }}</td>
                </tr>
                <tr>
                    <td>Gebruikersnaam:</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Rollen:</td>
                    <td>{% for role in user.roles %}
                            {{ role|trans }},
                        {% endfor %}</td>
                </tr>
                <tr>
                    <td>Start contract:</td>
                    <td>{{ user.startContract|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td class="collapsing">Noodgeval contactpersoon:</td>
                    <td>{{ user.emergencyContact }}</td>
                </tr>
                <tr>
                    <td class="collapsing">Noodgeval contact telefoonnummer:</td>
                    <td>{{ user.emergencyContactPhone }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="five wide column">
            <h2 id="profile-edit-password" class="ui header">Wachtwoord wijzigen</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ outputFormButton('Aanpassen') }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}