{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}{% endblock %}
{% block body %}
    <div class="ui tab segment active">
        <div class="ui sixteen column grid container">
            <div class="sixteen wide column">
                <div class="ui card">
                    <div class="image">
                        {% if user.picture %}
                            <img src="{{ user.picture.publicurl }}" alt="user_picture">
                        {% else %}
                            <img src="{{ asset('img/no_picture.jpg') }}" alt="user_picture">
                        {% endif %}
                    </div>
                    <div class="content">
                        <a class="header">{{ user.firstname }} {{ user.lastname }}</a>
                        <div class="description">
                            <p>BSN/Rijksnummer: {{ user.citizenServiceNumber }}</p>
                            <p>Adres: {{ user.address }} {{ user.houseNumber }}</p>
                            <p>Stad: {{ user.city }}</p>
                            <p>Postcode: {{ user.zipcode }}</p>
                            <p>Land: {{ user.country }}</p>
                            <p>Telefoonnummer: {{ user.phone }}</p>
                            <p>Mobiel: {{ user.mobilePhone }}</p>
                            <p>Gebruikersnaam: {{ user.username }}</p>
                            <p>Email: {{ user.email }}</p>
                            <p>Account is actief: {{ outputBool(user.isActive) }}</p>
                            <p>Rollen:
                                {% for role in user.roles %}
                                    {{ role|trans }},
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="extra content">
                        <p>Start contract: {{ user.startContract|date('d/m/Y') }}</p>
                        <p>Einde contract: {{ user.endContract|date('d/m/Y') }}</p>
                        <p>Reden einde contract: {{ user.reasonEndContract|raw }}</p>
                        <p>Noodgeval contactpersoon: {{ user.emergencyContact }}</p>
                        <p>Noodgeval contact telefoonnummer: {{ user.emergencyContactPhone }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}