<input id="userId" type="hidden" value="{{ user.id }}">
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li><a class="item {% if app.request.get('_route') == 'backend_employee_show' %} active {% endif %}"
               href="{{ path('backend_employee_show', {'id' : app.request.get('id')}) }}">Overzicht</a></li>
        <li><a class="item {% if app.request.get('_route') == 'backend_employee_edit' %} active {% endif %}"
               href="{{ path('backend_employee_edit', {'id' : app.request.get('id')}) }}">Aanpassen</a></li>
        <li><a class="item {% if 'password' in app.request.get('_route') %} active {% endif %}"
               href="{{ path('backend_employee_edit_password', {'id' : app.request.get('id')}) }}">Wachtwoord
                aanpassen</a></li>
        <li><a class="item {% if 'picture' in app.request.get('_route') %} active {% endif %}"
               href="{{ path('backend_employee_user_picture_index', {'id' : app.request.get('id')}) }}">Foto
                Uploaden</a></li>
        <li><a class="item {% if 'workschedule' in app.request.get('_route') %} active {% endif %}"
               href="{{ path('backend_employee_workschedule_index', {'id' : app.request.get('id')}) }}">Werkschema</a>
        </li>
    </ul>
</div>
