{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Bank overzicht{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="four wide column">
            <h3 class="ui header">Filters</h3>
            {{ form_start(form) }}
            <table class="ui table very basic collapsing">
                <tbody>
                <tr>
                    <td>Van</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.datestart) }}</td>
                </tr>
                <tr>
                    <td>Tot</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.dateend) }}</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.showall) }}</td>
                </tr>
                </tbody>
            </table>
            {{ form_end(form) }}
            <a href="{{ path('backend_bookkeeping_index') }}">
                <button class="ui button primary">Terug naar boekhouding</button>
            </a>
        </div>
        <div class="twelve wide column">
            {% if result is defined %}
                <p>Periode: {{ datestart }} t/m {{ dateend }}</p>
            {% endif %}
            <table class="ui table very basic">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Dier</th>
                    <th>Klant</th>
                    <th>Hoeveelheid</th>
                    <th>Actie</th>
                    <th>Aanbetaling</th>
                    <th>Volledig</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if result is defined %}
                    {% for transaction in result %}
                        <tr>
                            <td>
                                <a href="{{ path('backend_bookkeeping_transaction_show', {'transactionid' : transaction.id}) }}"><button class="ui tiny button primary"><i class="eye icon"></i></button></a>
                            </td>
                            <td>{{ transaction.date|date('d-m-Y') }}</td>
                            <td><a href="{{ path('backend_animal_show', {'id' : transaction.action.animal.id}) }}">{{ transaction.action.animal.name }}</a></td>
                            <td><a href="{{ path('backend_customer_edit', {'id' : transaction.customer.id}) }}">{{ transaction.customer.name }}</a></td>
                            <td><i class="euro icon"></i>{{ transaction.paidAmount }}</td>
                            <td><a href="{{ path('backend_bookkeeping_action_show', {'actionid' : transaction.action.id}) }}">{{ transaction.action.id }}</a></td>
                            <td>{{ outputBool(transaction.deposit) }}</td>
                            <td>{{ outputBool(transaction.inFull) }}</td>
                            <td><a href="{{ path('backend_bookkeeping_transaction_print_single_invoice', {'transactionid' : transaction.id}) }}" target="_blank"><button class="ui tiny button"><i class="print icon"></i></button></a></td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
