{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}{% endblock %}
{% block body %}
    <div class="ui tab segment active">
        <div class="ui sixteen column grid container">
            <div class="sixteen wide column">
                <div class="ui two column very relaxed grid">
                    <div class="eight wide column">
                        <table class="ui table compact collapsing striped">
                            <thead>
                            <tr>
                                <td>Datum</td>
                                <td>Type</td>
                                <td>Status</td>
                                <td>&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for entry in result %}
                                <tr>
                                    <td>{{ entry.date|date('d-m-Y') }}</td>
                                    <td>{{ entry.classname|trans }}</td>
                                    {% if entry.archived %}
                                        <td>Archief</td>
                                    {% else %}
                                        <td>Actief</td>
                                    {% endif %}
                                    <td>
                                        <div id="{{ entry.id }}" class="ui mini info labeled icon button view">
                                            <i class="folder open icon"></i> Bekijken
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="collapsing">
                                    <a href="{{ path('backend_animal_status_create', {'id' : app.request.attributes.get('id')}) }}">
                                        <div class="ui tiny positive labeled icon button">
                                            <i class="add square icon"></i> Status toevoegen
                                        </div>
                                    </a>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="eight wide column">
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/AnimalBundle/Status/StatusShow.js') }}"></script>
{% endblock %}