{% if status.archived %}
<div class="panel panel-info">
    {% else %}
    <div class="panel panel-success">
        {% endif %}
        <div class="panel-heading">Status {{ status.id }}</div>
        <div class="panel-body">
            <p>Datum: {{ status.date|date('d-m-Y') }}</p>
            <p>Type status:  {{ status.getclassname|trans }}</p>
            <p>Type vondst: {{ status.foundType }}</p>
            <p>Moet door ons gechipped worden: {{ outputBool(status.needsChipping) }}</p>
            {% if status.foundby is not empty %}
            <p>Gevonden door: <a href="{{ path('backend_customer_edit', { 'id' : status.foundby.id}) }}">{{ status.foundby.firstname }} {{ status.foundby.lastname }}</a></p>
            {% endif %}
            <p>Waar is het dier gevonden: {{ status.foundatlocation|raw }}</p>
            <p>Hoe was de staat van het dier: {{ status.animalstate|raw }}</p>
        </div>
    </div>