{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/showCatPublic.css') }}" />
{% endblock %}
{% block pagetitle %}Honden{% endblock %}
{% block body %}
    <div class="ui top attached tabular menu">
        <a href="{{ path('frontend_dog_index', {'option' : 'both'}) }}" class="item
        {% if 'both' in app.request.get('option') %} active {% endif %}
        ">
            Beide
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:dog:dogCountPublic', {'option': 'both'})) }}</div>
        </a>
        <a href="{{ path('frontend_dog_index', {'option' : 'dog'}) }}" class="item
                {% if 'dog' in app.request.get('option') %} active {% endif %}
                ">
            Volwassen Honden
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:dog:dogCountPublic', {'option': 'dog'})) }}</div>
        </a>
        <a href="{{ path('frontend_dog_index', {'option' : 'puppy'}) }}" class="item
                {% if 'puppy' in app.request.get('option') %} active {% endif %}
                ">
            Puppies
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:dog:dogCountPublic', {'option': 'puppy'})) }}</div>
        </a>
    </div>
    <div class="ui bottom attached segment">
        <div>
            <table class="ui striped table">
                <thead>
                <tr>
                    <th></th>
                    <th>Naam</th>
                    <th>Leeftijd</th>
                </tr>
                </thead>
                <tbody>
                {% for dog in dogs %}
                    <tr>
                        <td>
                            {% for picture in dog.pictures|slice(0,1) %}
                                <img id="{{ dog.id }}" class="pictureShow Dog" src="{{ picture.getpublicurl }}" height="50">
                            {% endfor %}
                            {% if dog.pictures is empty %}
                                <img id="{{ dog.id }}" class="pictureShow Dog" src="{{ asset('img/no_picture.jpg') }}" height="50">
                            {% endif %}
                        </td>
                        <td>{{ dog.name }}</td>
                        <td>{{ dog.age }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Output the animal information when you click on one -->
    <div id="result"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/FrontendBundle/Dog/PublicShowDog.js') }}"></script>
{% endblock %}