{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/showCatPublic.css') }}" />
{% endblock %}
{% block pagetitle %}Honden{% endblock %}
{% block body %}
    <div class="ui top attached tabular menu">
        <a href="{{ path('frontend_dog_index', {'option' : 'both'}) }}" class="item
        {% if 'both' in app.request.get('option') %} active {% endif %}
        ">
            Beide
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:dog:dogCountPublic', {'option': 'both'})) }}</div>
        </a>
        <a href="{{ path('frontend_dog_index', {'option' : 'dog'}) }}" class="item
                {% if 'dog' in app.request.get('option') %} active {% endif %}
                ">
            Volwassen Honden
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:dog:dogCountPublic', {'option': 'dog'})) }}</div>
        </a>
        <a href="{{ path('frontend_dog_index', {'option' : 'puppy'}) }}" class="item
                {% if 'puppy' in app.request.get('option') %} active {% endif %}
                ">
            Puppies
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:dog:dogCountPublic', {'option': 'puppy'})) }}</div>
        </a>
    </div>
    <div class="ui bottom attached segment">
        <div>
            <table class="ui selectable celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>Naam</th>
                    <th>Ras</th>
                    <th>Geslacht</th>
                    <th>Leeftijd</th>
                    <th>Kleur</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for dog in dogs %}
                    <tr id="{{ dog.id }}" class="Dog">
                        <td>
                            {% for picture in dog.pictures|slice(0,1) %}
                                <img src="{{ picture.getpublicurl }}" height="30">
                            {% endfor %}
                            {% if dog.pictures is empty %}
                                <img src="{{ asset('img/no_picture.jpg') }}" height="20">
                            {% endif %}
                        </td>
                        <td>{{ dog.name }}</td>
                        <td>{{ dog.race }}</td>
                        <td>{{ outputGender(dog.gender) }}</td>
                        <td>{{ dog.age }}</td>
                        <td>{{ dog.colour }}</td>
                        {% for state in dog.status %}
                            {% if state.archived == false %}
                                <td>{{ state.getclassname|trans }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Output the animal information when you click on one -->
    <div id="result"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/FrontendBundle/Dog/PublicShowDog.js') }}"></script>
{% endblock %}