{% for picture in dog.pictures|slice(0,1) %}
    <img id="{{ picture.id }}" class="pictureShow center-block" src="{{ picture.getpublicurl }}" alt="{{ picture.picturename }}" height="250">
{% endfor %}
{% if dog.pictures is empty %}
    <img class="center-block" src="{{ asset('img/no_picture.jpg') }}" height="100">
{% endif %}
<hr>
<table class="ui celled table">
    <tbody>
    <tr>
        <td>Ras</td>
        <td>{{ dog.race }}</td>
    </tr>
    <tr>
        <td>In asiel sinds</td>
        <td>{{ dog.admissionDate|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <td>Kleur</td>
        <td>{{ dog.colour }}</td>
    </tr>
    <tr>
        <td>Geboortedatum</td>
        <td>{{ dog.dayOfBirth|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <td>Leeftijd</td>
        <td>{{ dog.age }} Jaar</td>
    </tr>
    <tr>
        <td>Omschrijving</td>
        <td>{{ dog.description|raw }}</td>
    </tr>
    <tr>
        <td>Karakter eigenschappen</td>
        <td>{{ dog.characteristics|raw }}</td>
    </tr>
    <tr>
        <td>Medische problemen</td>
        <td>{{ dog.medicalproblems|raw }}</td>
    </tr>
    <tr>
        <td>Bekend met agressie</td>
        <td>{{ dog.knownAggression|raw }}</td>
    <tr>
    <tr>
        <td>Type vacht</td>
        <td>{{ dog.furType }}</td>
    <tr>
    <tr>
        <td>Kent commando's</td>
        <td>{{ dog.knownCommands|raw }}</td>
    <tr>
        <td>Heeft beweging nodig</td>
        <td>{{ outputBool(dog.needsExercise) }}</td>
    </tr>
    <tr>
        <td>Geslacht</td>
        <td>{{ outputGender(dog.gender) }}</td>
    </tr>
    <tr>
        <td>Gesteriliseerd / Gecastereerd</td>
        <td>{{ outputBool(dog.sterilized) }}</td>
    </tr>
    <tr>
        <td>Zindelijk</td>
        <td>{{ outputBool(dog.toiletTrained) }}</td>
    </tr>
    <tr>
        <td>Kan met kinderen onder de 10 jaar</td>
        <td>{{ outputBool(dog.compatibleChildrenBelow10y) }}</td>
    </tr>
    <tr>
        <td>Kan met kinderen boven de 10 jaar</td>
        <td>{{ outputBool(dog.compatibleChildrenAbove10y) }}</td>
    </tr>
    <tr>
        <td>Kan met kinderen onder de 7 jaar</td>
        <td>{{ outputBool(dog.compatibleChildrenBelow7y) }}</td>
    </tr>
    <tr>
        <td>Kan met kinderen boven de 7 jaar</td>
        <td>{{ outputBool(dog.compatibleChildrenAbove7y) }}</td>
    </tr>
    <tr>
        <td>Ontsnapt vaak</td>
        <td>{{ outputBool(dog.escapesAlot) }}</td>
    </tr>
    <tr>
        <td>Geschikt voor oudere mensen</td>
        <td>{{ outputBool(dog.compatibleOldPeople) }}</td>
    </tr>
    <tr>
        <td>Kan het dier met kleine honden overweg</td>
        <td>{{ dog.compatibleSmallDog|raw }}</td>
    </tr>
    <tr>
        <td>Kan het dier met grote honden overweg</td>
        <td>{{ dog.compatibleLargeDog|raw }}</td>
    </tr>
    <tr>
        <td>Kan samen met katten</td>
        <td>{{ dog.compatiblecat|raw }}</td>
    </tr>
    <tr>
        <td>Kan het met andere dieren overweg</td>
        <td>{{ dog.compatibleOtheranimals|raw }}</td>
    </tr>
    </tbody>
</table>
