<input id="animalId" type="hidden" value="{{ info.id }}">
<div class="ui segment center aligned">
        <span>
            {{ info.name }} ({{ info.getclassname|trans }})
            {% if opentasks|length > 0 %}
                    <span class="text-alert">Open taken: {{ opentasks|length }}</span>
            {% endif %}

            {% for picture in info.pictures|slice(0,1) %}
                    <img class="ui avatar image mini" src="{{ picture.publicurl }}">
            {% endfor %}
        </span>
</div>