{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Dier aanmelden{% endblock %}
{% block body %}
<div class="ui sixteen column grid container">
    <div class="sixteen wide column">
        <h3 class="ui header">Controleer eerst het chipnummer</h3>
        <div class="ui form">
            <div class="inline field">
                <label for="chipnumbercheck">Chipnummer van het dier</label>
                <input type="text" id="chipnumbercheck" placeholder="15 cijferige chipnummer" maxlength="15">
            </div>
        </div>
        <div id="chipresult"></div>
        <div id="choices">
            <br />
            <a href="{{ path('backend_animal_register', {'type': 'Cat'}) }}">Kat aanmelden</a> |
            <a href="{{ path('backend_animal_register', {'type': 'Dog'}) }}">Hond aanmelden</a>
        </div>
        <div id="searchexternally">
            <br />
            <p>Of zoek extern: </p>
            <ul>
                <li><img id="bhc" src="{{ asset('img/logo-bhc.png') }}" height="50" alt="backhomeclub.nl"></li>
            </ul>
            <p>Test chipnummer voor backhomeclub.nl : 528274000126497</p>
        </div>
        <div id="externalresult"></div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/AnimalBundle/Animal/AnimalCreate.js') }}"></script>
{% endblock %}

