{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Alle dieren{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="sixteen wide column">
            <div class="ui segment">
                <h3 class="ui header">Filters</h3>
                <div class="ui form tiny">
                    <div class="fields">
                        <h5 class="ui header">Type dier</h5>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="cat" type="checkbox">
                                <label for="cat">Kat</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="dog" type="checkbox">
                                <label for="dog">Hond</label>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <h5 class="ui header">Geslacht</h5>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="male" type="checkbox">
                                <label for="male">{{ outputGender('Male') }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="female" type="checkbox">
                                <label for="female">{{ outputGender('Female') }}</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="unknown" type="checkbox">
                                <label for="unknown">{{ outputGender('Unknown') }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <h5 class="ui header">Leeftijd</h5>
                        <div class="field inline">
                            <select id="agestart">
                                <!-- don't go below 1 -->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                            </select>
                            <label for="agestart">Van</label>
                        </div>
                        <div class="field inline">
                            <select id="ageend">
                                <!-- don't go below 1 -->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18" selected>18</option>
                            </select>
                            <label for="ageend">Tot</label>
                        </div>
                    </div>
                    <div class="fields">
                        <h5 class="ui header">Status</h5>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="abandoned" type="checkbox">
                                <label for="abandoned">Afgestaan</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="found" type="checkbox">
                                <label for="found">Gevonden</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="seized" type="checkbox">
                                <label for="seized">In beslag genomen</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="adopted" type="checkbox">
                                <label for="adopted">Adoptie</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="deceased" type="checkbox">
                                <label for="deceased">Overleden</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="lost" type="checkbox">
                                <label for="lost">Kwijt</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="returnedowner" type="checkbox">
                                <label for="returnedowner">Terug eigenaar</label>
                            </div>
                        </div>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="nostate" type="checkbox">
                                <label for="nostate">Geen</label>
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <h5 class="ui header">Gesteriliseerd / Gecastereerd</h5>
                        <div class="field inline">
                            <div class="ui toggle checkbox">
                                <input id="sterilized" type="checkbox">
                                <label for="sterilized"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui divider horizontal"></div>
            <div id="searchresult"></div>
            <div class="ui divider horizontal"></div>
            <div class="ui divider horizontal"></div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/AnimalBundle/Animal/Search.js') }}"></script>
{% endblock %}