{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Alle dieren{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="sixteen wide column">
            <div class="ui segment">
                <h3 class="ui header">Filters</h3>
                <div>
                    {{ form_start(form) }}
                    <div class="form-inline">
                        {{ form_row(form.type) }}
                    </div>
                    <div class="form-inline">
                        {{ form_row(form.gender) }}
                    </div>
                    <div class="form-inline">
                        {{ form_row(form.agestart) }}
                        {{ form_row(form.ageend) }}
                    </div>
                    <div class="form-inline">
                        {{ form_row(form.status) }}
                    </div>
                    <div class="form-inline">
                        {{ form_row(form.sterilized) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="ui divider horizontal"></div>
        <div id="searchresult"></div>
        <div class="ui divider horizontal"></div>
        <div class="ui divider horizontal"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/AnimalBundle/Animal/Search.js') }}"></script>
{% endblock %}