{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Overzicht{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% for picture in animal.pictures|slice(0,5) %}
                    <img src="{{ picture.getpublicurl }}" height="100">
                {% endfor %}
            </div>
        </div>
        <h2>{{ activestate.getclassname|trans }}
            {% if activestate.getclassname == 'Onsite' %}
                ({{ activestate.registertype|trans }})
            {% endif %}
        </h2>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Algemeen</div>
                    <div class="panel-body">
                        <p class="text-alert">Zichtbaar voor publiek {{ outputBool(animal.visiblePublic) }}</p>
                        <p class="text-alert">Staat op facebook {{ outputBool(animal.facebookId) }}</p>
                        <p>Naam: {{ animal.name }}</p>
                        <p>Ras: {{ animal.race }}</p>
                        <p>Locatie overdag: {{ animal.dayLocation }}</p>
                        <p>Locatie 's nachts: {{ animal.nightLocation }}</p>
                        <p>In asiel sinds: {{ animal.admissionDate|date('d/m/Y') }}</p>
                        <p>Chipnummer: {{ animal.chipnumber }}</p>
                        <p>Niet gechipped bij binnenkomst {{ outputBool(animal.notChipped) }}</p>
                        <p>Paspoortnummer: {{ animal.passportNumber }}</p>
                        <p>Kleur: {{ animal.colour }}</p>
                        <p>Geboortedatum: {{ animal.dayOfBirth|date('d/m/Y') }}</p>
                        <p>Leeftijd: {{ animal.age }} Jaar</p>
                        <p>Geslacht: {{ outputGender(animal.gender) }}</p>
                        <p>Gesteriliseerd / Gecastereerd : {{ outputBool(animal.sterilized) }}</p>
                        <p>Zindelijk: {{ outputBool(animal.toiletTrained) }}</p>
                        <p>Buiten dier: {{ animal.outsideAnimal }}</p>
                        <p><i>Omschrijving:</i> {{ animal.description|raw }}</p>
                        <p><i>Karakter eigenschappen:</i> {{ animal.characteristics|raw }}</p>
                        <p><i>Medische problemen:</i> {{ animal.medicalproblems|raw }}</p>
                        <p><i>Bekend met agressie:</i> {{ animal.knownAggression|raw }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {% if animal.getClassName == 'Cat' %}
                            Kat
                        {% elseif animal.getClassName == 'Dog' %}
                            Hond
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if animal.getClassName == 'Cat' %}
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><i>Kan het dier met kleine honden overweg ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleSmallDog|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Kan het dier met grote honden overweg ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleLargeDog|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Kan samen met andere katten ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleCat|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Kan het met andere dieren overweg ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleOtherAnimals|raw }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                        {% if animal.getClassName == 'Dog' %}
                            <p>Type vacht: {{ animal.furType }}</p>
                            <p>Heeft beweging nodig: {{ outputBool(animal.needsExercise) }}</p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><i>Kan het dier met kleine honden overweg ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleSmallDog|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Kan het dier met grote honden overweg ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleLargeDog|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Kan samen met katten ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleCat|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Kan het met andere dieren overweg ?</i></td>
                                    </tr>
                                    <tr>
                                        <td>{{ animal.compatibleOtherAnimals|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td><i>Bekende commando's</i></td>
                                    </tr>
                                    <tr>
                                        {{ animal.knownCommands|raw }}
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Klant</div>
                    <div class="panel-body">
                        {% if activestate.getclassname == 'Adopted' %}
                            <p>Datum: {{ activestate.date|date('d/m/Y') }}</p>
                            <p>Adoptieprijs: {{ activestate.price }}</p>
                            <p><i>Geadopteerd door:</i></p>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Naam</td>
                                        <td>{{ activestate.customer.firstname }} {{ activestate.customer.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Geboortedatum</td>
                                        <td>{{ activestate.customer.dayofbirth|date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td>Adres</td>
                                        <td>{{ activestate.customer.address }} {{ activestate.customer.housenumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Postcode</td>
                                        <td>{{ activestate.customer.zipcode }}</td>
                                    </tr>
                                    <tr>
                                        <td>Plaats</td>
                                        <td>{{ activestate.customer.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Land</td>
                                        <td>{{ activestate.customer.country }}</td>
                                    </tr>
                                    <tr>
                                        <td>Telefoonnummer</td>
                                        <td>{{ activestate.customer.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>BSN</td>
                                        <td>{{ activestate.customer.CitizenServiceNumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{ activestate.customer.email }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% elseif activestate.getclassname == 'Abandoned' %}
                            <p>Datum: {{ activestate.date|date('d/m/Y') }}</p>
                            <p>Afstandprijs: {{ activestate.price }}</p>
                            <p><i>Afgestaan door:</i></p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Naam</td>
                                    <td>{{ activestate.abandonedby.firstname }} {{ activestate.abandonedby.lastname }}</td>
                                </tr>
                                <tr>
                                    <td>Geboortedatum</td>
                                    <td>{{ activestate.abandonedby.dayofbirth|date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <td>Adres</td>
                                    <td>{{ activestate.abandonedby.address }} {{ activestate.abandonedby.housenumber }}</td>
                                </tr>
                                <tr>
                                    <td>Postcode</td>
                                    <td>{{ activestate.abandonedby.zipcode }}</td>
                                </tr>
                                <tr>
                                    <td>Plaats</td>
                                    <td>{{ activestate.abandonedby.city }}</td>
                                </tr>
                                <tr>
                                    <td>Land</td>
                                    <td>{{ activestate.abandonedby.country }}</td>
                                </tr>
                                <tr>
                                    <td>Telefoonnummer</td>
                                    <td>{{ activestate.abandonedby.phone }}</td>
                                </tr>
                                <tr>
                                    <td>BSN</td>
                                    <td>{{ activestate.abandonedby.CitizenServiceNumber }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ activestate.abandonedby.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        {% elseif activestate.getclassname == 'Found' %}
                            {% if activestate.foundBy is not empty %}
                                <p>Datum: {{ activestate.date|date('d/m/Y') }}</p>
                                <p><i>Gevonden type: {{ activestate.foundtype }}</i></p>
                                <p><i>Locatie:</i> {{ activestate.foundatlocation|raw }}</p>
                                <p><i>Staat van het dier:</i> {{ activestate.animalstate|raw }}</p>
                                <p><i>Gevonden door: </i></p>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Naam</td>
                                        <td>{{ activestate.foundBy.firstname }} {{ activestate.foundBy.lastname }}</td>
                                    </tr>
                                    <tr>
                                        <td>Geboortedatum</td>
                                        <td>{{ activestate.foundBy.dayofbirth|date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td>Adres</td>
                                        <td>{{ activestate.foundBy.address }} {{ activestate.foundBy.housenumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Postcode</td>
                                        <td>{{ activestate.foundBy.zipcode }}</td>
                                    </tr>
                                    <tr>
                                        <td>Plaats</td>
                                        <td>{{ activestate.foundBy.city }}</td>
                                    </tr>
                                    <tr>
                                        <td>Land</td>
                                        <td>{{ activestate.foundBy.country }}</td>
                                    </tr>
                                    <tr>
                                        <td>Telefoonnummer</td>
                                        <td>{{ activestate.foundBy.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>BSN</td>
                                        <td>{{ activestate.foundBy.CitizenServiceNumber }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{ activestate.foundBy.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}