{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>Aanmaakdatum</th>
                        <th>Uitvoerdatum</th>
                        <th>Aangemaakt door</th>
                        <th>Omschrijving</th>
                        <th>Uitgevoerd</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in result %}
                        <tr
                                {% if task.isComplete == false and task.isOverdue %}
                                    class="danger"
                                {% endif %}
                                {% if task.isComplete %}
                                    class="success"
                                {% endif %}
                                {% if task.isComplete == false and task.isOverdue == false %}
                                    class="warning"
                                {% endif %}
                        >
                            <td>{{ task.dateCreated|date('d-m-Y') }}</td>
                            <td>{{ task.datedue|date('d-m-Y') }}</td>
                            <td>{{ task.createdBy }}</td>
                            <td>
                                <a href="{{ path('backend_animal_task_edit', {'id' : task.animal.id, 'taskid' : task.id}) }}">{{ task.title|length > 25 ? task.title|slice(0, 25)~'..' : task.title }}</a>
                            </td>
                            <td>{{ outputBool(task.isComplete) }}</td>
                            <td>
                                <div id="{{ task.id }}" class="btn btn-sm btn-danger delete">
                                    <i class="fa fa-trash-o"></i> Verwijderen
                                </div>
                            </td>
                            <td>
                                <a href="{{ path('backend_animal_task_edit', {'taskid': task.id, 'id' : app.request.get('id')}) }}">
                                    <div id="{{ task.id }}" class="btn btn-sm btn-primary view">
                                        <i class="fa fa-edit"></i> Aanpassen
                                    </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>
                            <a href="{{ path('backend_animal_task_create', {'id' : app.request.attributes.get('id')}) }}">
                                <div class="btn btn-sm btn-success">
                                    <i class="fa fa-plus"></i> Taak toevoegen
                                </div>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div id="confirmmodal" class="modal modal-danger">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Waarschuwing</h4>
                        </div>
                        <div class="modal-body">
                            <p>Weet u zeker dat u de taak wil verwijderen?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Nee</button>
                            <button id="approve" type="button" class="btn btn-outline">Ja</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> <!-- end div row -->
    </div> <!-- end col-sm-12 -->
    </div> <!-- end box box-primary -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/AnimalBundle/Task/TaskConfirmDelete.js') }}"></script>
{% endblock %}
