{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Alle taken{% endblock %}
{% block body %}
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-10">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Aanmaakdatum</td>
                        <td>Uitvoerdatum</td>
                        <td>Aangemaakt door</td>
                        <td>Omschrijving</td>
                        <td>Uitgevoerd</td>
                        <td>&nbsp;</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in result %}
                        <tr
                            {% if task.isComplete == false and task.isOverdue %}
                                class="alert-danger"
                            {% endif %}
                            {% if task.isComplete %}
                                class="alert-success"
                            {% endif %}
                            {% if task.isComplete == false and task.isOverdue == false %}
                                class="alert-info"
                            {% endif %}
                        >
                            <td>{{ task.dateCreated|date('d-m-Y') }}</td>
                            <td>{{ task.datedue|date('d-m-Y') }}</td>
                            <td>{{ task.createdBy }}</td>
                            <td><a href="{{ path('backend_animal_task_edit', {'id' : task.animal.id, 'taskid' : task.id}) }}">{{ task.title|length > 25 ? task.title|slice(0, 25)~'..' : task.title }}</a></td>
                            <td>{{ outputBool(task.isComplete) }}</td>
                            <td><span id="{{ task.id }}" class="glyphicon glyphicon-trash delete" aria-hidden="true"></span></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td><a href="{{ path('backend_animal_task_create', {'id' : app.request.attributes.get('id')}) }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="result" class="col-md-8"></div>
        </div>
    </div>
    <div id="dialog-confirm" title="Taak verwijderen">
        <p><span class="ui-icon ui-icon-alert"></span>Weet u zeker dat u de taak wil verwijderen?</p>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/AnimalBundle/Task/TaskConfirmDelete.js') }}"></script>
{% endblock %}
