{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Zoek klant{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Particuliere Filters</h3>
                <table class="ui table very basic">
                    <thead>
                    <tr>
                        <th class="four wide">Achternaam</th>
                        <th class="four wide">BSN/Rijksnummer</th>
                        <th class="four wide">Gemeente</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ form_row(form.lastname) }}</td>
                        <td>{{ form_row(form.citizenservicenumber) }}</td>
                        <td>{{ form_row(form.municipality) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <h3 class="ui header">Zakelijke Filters</h3>
                <table class="ui table very basic">
                    <thead>
                    <tr>
                        <th>Bedrijfsnaam</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ form_row(form.companyname) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui divider horizontal"></div>
            <div id="searchresult"></div>
            <div class="ui divider horizontal"></div>
            <div class="ui divider horizontal"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>var requestby = 'bookkeepingbundle_invoiceledger';</script>
    <script src="{{ asset('js/views/CustomerBundle/Search.js') }}"></script>
{% endblock %}

