{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/showCatPublic.css') }}" />
{% endblock %}
{% block pagetitle %}Katten{% endblock %}
{% block body %}
    <div class="ui top attached tabular menu">
        <a href="{{ path('frontend_cat_index', {'option' : 'both'}) }}" class="item
        {% if 'both' in app.request.get('option') %} active {% endif %}
        ">
            Beide
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:Cat:catCountPublic', {'option': 'both'})) }}</div>
        </a>
        <a href="{{ path('frontend_cat_index', {'option' : 'cat'}) }}" class="item
                {% if 'cat' in app.request.get('option') %} active {% endif %}
                ">
            Volwassen Katten
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:Cat:catCountPublic', {'option': 'cat'})) }}</div>
        </a>
        <a href="{{ path('frontend_cat_index', {'option' : 'kitten'}) }}" class="item
                {% if 'kitten' in app.request.get('option') %} active {% endif %}
                ">
            Kittens
            <div class="ui left pointing label">{{ render(controller('FrontendBundle:Cat:catCountPublic', {'option': 'kitten'})) }}</div>
        </a>
    </div>
    <div class="ui bottom attached segment">
        <div>
            <table class="ui selectable celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>Naam</th>
                    <th>Ras</th>
                    <th>Geslacht</th>
                    <th>Leeftijd</th>
                    <th>Kleur</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for cat in cats %}
                <tr id="{{ cat.id }}" class="Cat">
                    <td>
                        {% for picture in cat.pictures|slice(0,1) %}
                            <img src="{{ picture.getpublicurl }}" height="30">
                        {% endfor %}
                        {% if cat.pictures is empty %}
                            <img src="{{ asset('img/no_picture.jpg') }}" height="20">
                        {% endif %}
                    </td>
                    <td>{{ cat.name }}</td>
                    <td>{{ cat.race }}</td>
                    <td>{{ outputGender(cat.gender) }}</td>
                    <td>{{ cat.age }}</td>
                    <td>{{ cat.colour }}</td>
                    {% for state in cat.status %}
                        {% if state.archived == false %}
                    <td>{{ state.getclassname|trans }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Output the animal information when you click on one -->
    <div id="result"></div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/FrontendBundle/Cat/PublicShowCat.js') }}"></script>
{% endblock %}