{% extends '@Backend/Base/Base.html.twig' %}
{% block pagesubtitle %}Foto van gebruiker{% endblock %}
{% block body %}
    <div class="ui tab segment active">
        <div class="ui twelve column grid container">
            <div class="six wide column">
                <div class="ui card">
                    <div class="image">
                        {% if picture %}
                            <img src="{{ picture.publicURL }}" alt="picture">
                        {% else %}
                            <img src="{{ asset('img/no_picture.jpg') }}" alt="no_picture_yet">
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="description">
                            {% if picture is not null %}
                                <div id="{{ picture.id }}" class="ui mini negative labeled icon button delete">
                                    <i class="remove icon"></i> Verwijderen
                                </div>
                                {% else %}
                                    <a href="{{ path('backend_employee_user_picture_create', {'id' : app.request.get('id')}) }}">
                                        <div class="ui mini positive labeled icon button">
                                            <i class="add square icon"></i> Toevoegen
                                        </div>
                                    </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="extra content">
                        <p>Er kan maar 1 foto tegelijk aanwezig zijn, als u een nieuwe foto wil uploaden moet u eerst de huidige verwijderen.</p>
                    </div>
                </div>
                <div id="confirmmodal" class="ui basic modal">
                    <div class="ui icon header">
                        <i class="archive icon"></i>
                        Foto verwijderen
                    </div>
                    <div class="content">
                        <p>Weet u zeker dat u de foto wil verwijderen?</p>
                    </div>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button">
                            <i class="remove icon"></i>
                        </div>
                        <div id="approve" class="ui green ok inverted button">
                            <i class="checkmark icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>   </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/EmployeeBundle/UserPicture/UserPictureConfirmDelete.js') }}"></script>
{% endblock %}