{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Bekijk actie{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <h3>Actie</h3>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{ action.id }}</td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td>{{ action.date|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ action.type|trans }}</td>
                </tr>
                <tr>
                    <td>Totale kosten</td>
                    <td><i class="euro icon"></i>{{ action.totalCosts }}</td>
                </tr>
                <tr>
                    <td>Voor klant</td>
                    <td>
                        <a href="{{ path('backend_customer_edit', {'id' : action.customer.id}) }}">{{ action.customer.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Nog te voldoen</td>
                    <td><i class="fa fa-euro"></i> {{ action.sumRemaining }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Eerdere transacties</h3>
            <table class="table table-condensed">
                <tbody>
                {% for transaction in action.transaction %}
                    <tr>
                        <td>Id :
                            <a href="{{ path('backend_bookkeeping_transaction_show', {'transactionid' : transaction.id}) }}">{{ transaction.id }}</a>
                        </td>
                        <td>{{ transaction.paymenttype|trans }}</td>
                        <td><i class="fa fa-euro"></i> {{ transaction.paidamount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Betreft dier</h3>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Naam</td>
                    <td>
                        <a href="{{ path('backend_animal_show', {'id' : action.animal.id}) }}"
                           target="_blank">{{ action.animal.name }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <div class="callout callout-success">
                            <h4>In beslag nemen actie aanmaken</h4>
                            <p>Selecteer het dier wat in beslag genomen gaat worden en koppel er een
                                klant aan.
                            </p>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="callout
                        {% if action.isfullypaid %} callout-success
                        {% else %} callout-info {% endif %}
                        ">
                            <h4>Betaling</h4>
                            <p>Zorg ervoor dat alle kosten betaald zijn.</p>
                            {% if action.isfullypaid == false %}
                                <a href="{{ path('backend_bookkeeping_transaction_searchcustomer', {'actionid' : action.id}) }}">
                                    <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Transactie
                                    </button>
                                </a>
                                <a href="{{ path('backend_bookkeeping_action_zerototalcosts', {'actionid' : action.id}) }}">
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Geen kosten
                                        rekenen
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="callout
                    {% if action.completed %} callout-success
                    {% elseif action.isfullypaid %} callout-info
                    {% elseif action.isfullypaid == false %} callout-warning
                    {% endif %}
                    ">
                            <h4>Voltooi de actie</h4>
                            <p>Wijzig de status van het dier.</p>
                            {% if action.completed == false and action.isfullypaid %}
                                <a
                                        href="{{ path('backend_bookkeeping_action_seized_finish', {'actionid' : action.id}) }}">
                                    <button class="btn btn-sm btn-success"><i class="fa fa-flag-checkered"></i> Afronden
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <br/>
                <a href="{{ path('backend_bookkeeping_action_index') }}">
                    <button class="btn btn-primary">Terug naar overzicht</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}