<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                {#<div class="ui inverted link list">#}
                {#<a class="item" href="#">Link 1</a>#}
                {#<a class="item" href="#">Link 2</a>#}
                {#<a class="item" href="#">Link 3</a>#}
                {#<a class="item" href="#">Link 4</a>#}
                {#</div>#}
            </div>
            <div class="three wide column">
                {#<h4 class="ui inverted header">Doneer</h4>#}
                {#<div class="ui inverted link list">#}
                {#<a class="item" href="#">Link 1</a>#}
                {#<a class="item" href="#">Link 2</a>#}
                {#<a class="item" href="#">Link 3</a>#}
                {#<a class="item" href="#">Link 4</a>#}
                {#</div>#}
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header">Algemene informatie</h4>
                <div class="ui list">
                    <div class="item">
                        <i class="users icon"></i>
                        <div class="content">
                            {{ info.name }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="marker icon"></i>
                        <div class="content">
                            {{ info.address }} {{ info.housenumber }}, {{ info.zipcode }} {{ info.municipality }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="phone icon"></i>
                        <div class="content">
                            {{ info.phone }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="mail icon"></i>
                        <div class="content">
                            <a href="mailto:{{ info.email }}">{{ info.email }}</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="folder icon"></i>
                        <div class="content">
                            {{ info.cocNumber }}
                        </div>
                    </div>
                    <div class="item">
                        <i class="linkify icon"></i>
                        <div class="content">
                            <a href="http://{{ info.url }}">{{ info.url }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Volg Ons</h4>
                <div class="ui inverted link list">
                    <a class="item" target="_blank" href="http://{{ info.facebook }}"><i class="facebook icon" style="font-size: 1.9em"></i></a>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui header inverted centered aligned"><p><i class="copyright icon"></i> AsielPro {{ "now"|date('Y') }}</p></div>
    </div>
</div>