{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Actie starten{% endblock %}
{% block pagesubtitle %}Adoptie{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h3>Dier</h3>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Naam</td>
                    <td>{{ animal.name }}</td>
                </tr>
                <tr>
                    <td>Chipnummer</td>
                    <td>{{ animal.chipnumber }}</td>
                </tr>
                <tr>
                    <td>Ras</td>
                    <td>{{ animal.race }}</td>
                </tr>
                <tr>
                    <td>Geboortedatum</td>
                    <td>{{ animal.dayOfBirth|date('d-m-Y') }}</td>
                </tr>
                </tbody>
            </table>
            <p>
                <a href="{{ path('backend_animal_show', {'id' : animal.id}) }}" target="_blank">Meer informatie
                </a><i class="fa fa-external-link"></i>
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Klant</h3>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Naam</td>
                    <td>{{ customer.name }}</td>
                </tr>
                </tbody>
            </table>
            <p><a href="{{ path('backend_customer_show', {'customerid' : customer.id}) }}" target="_blank">Meer
                    informatie
                </a><i class="fa fa-external-link"></i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <hr/>
            <p>Als deze gegevens kloppen kunt u nu de actie aanmaken in het systeem.</p>
            <p>{{ form_start(form) }}{{ form_widget(form) }}{{ form_end(form) }}</p>
        </div>
    </div>
{% endblock %}
