<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <table id="resulttable" class="table table-hover">
                <thead>
                <tr>
                    <td>Voornaam</td>
                    <td>Achternaam</td>
                    <td>Geboortedatum</td>
                    <td>Adres</td>
                    <td>Zwartelijst</td>
                </tr>
                </thead>
                <tbody>
                {% for customer in results %}
                    <tr id="{{ customer.id }}"
                            {% if customer.blacklisted %}
                                class="customer alert-danger"
                            {% else %}
                                class="customer"
                            {% endif %}
                    >
                        <td class="firstname">{{ customer.firstname }}</td>
                        <td class="lastname">{{ customer.lastname }}</td>
                        <td>{{ customer.dayofbirth|date('d-m-Y') }}</td>
                        <td>{{ customer.address }} {{ customer.housenumber }}</td>
                        <td>
                            {% if customer.blacklisted %}
                                {% if customer.blacklistedReason|length == 0 %}
                                    Geen reden beschikbaar
                                {% endif %}
                                {{ customer.blacklistedReason|slice(0,50) }}
                            {% else %}
                                {{ outputBool(customer.blacklisted) }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
