{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Klanten{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filters</h3>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="four wide">Achternaam</th>
                            <th class="four wide">BSN/Rijksnummer</th>
                            <th class="four wide">Gemeente</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_row(form.lastname) }}</td>
                            <td>{{ form_row(form.citizenservicenumber) }}</td>
                            <td>{{ form_row(form.municipality) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Bedrijfsnaam</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_row(form.companyname) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="searchresult"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/CustomerBundle/Search.js') }}"></script>
{% endblock %}

