{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Klanten{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="sixteen wide column">
            <div class="ui segment">
                <h3 class="ui header">Filters</h3>
                <div>
                    {{ form_start(form) }}
                    <div class="form-inline">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="form-inline">
                        {{ form_row(form.citizenservicenumber) }}
                    </div>
                    <h3 class="ui header">Subfilters</h3>
                    <div class="form-inline">
                        {{ form_row(form.city) }}
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="ui divider horizontal"></div>
        <div id="searchresult"></div>
        <div class="ui divider horizontal"></div>
        <div class="ui divider horizontal"></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/CustomerBundle/Search.js') }}"></script>
{% endblock %}

