{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Klanten{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="four wide colomn">
            <h3 class="ui header">Filters</h3>
            <table class="ui table very basic">
                <thead>
                <tr>
                    <th class="two wide">Achternaam</th>
                    <th class="two wide">BSN/Rijksnummer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ form_row(form.lastname) }}</td>
                    <td>{{ form_row(form.citizenservicenumber) }}</td>
                </tr>
                </tbody>
            </table>
            <h3 class="ui header">Subfilters</h3>
            <table class="ui table very basic three wide">
                <thead>
                <tr>
                    <th class="two wide">Stad</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ form_row(form.city) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="sixteen wide column">
            <div class="ui divider horizontal"></div>
            <div id="searchresult"></div>
            <div class="ui divider horizontal"></div>
            <div class="ui divider horizontal"></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/CustomerBundle/Search.js') }}"></script>
{% endblock %}

