<table class="ui table compact striped">
    {% for customer in result %}
    {% if customer.isPrivate %}
    <thead>
    <tr>
        <th></th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Email</th>
        <th>Gemeente</th>
        <th>BSN</th>
        <th>Telefoonnummer</th>
        <th class="collapsing">Op zwarte lijst?</th>
    </tr>
    </thead>
    {% endif %}
    {% endfor %}
    {% for customer in result %}
    {% if customer.isBusiness %}
    <thead>
    <tr>
        <th></th>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Email</th>
        <th>Gemeente</th>
        <th>Bedrijfsnaam</th>
        <th>Telefoonnummer</th>
    </tr>
    </thead>
    {% endif %}
    {% endfor %}
    <tbody>
    {% for customer in result %}
    {% if customer.isPrivate %}
    <tr
            {% if customer.blacklisted %}
                class="negative"
            {% endif %}
    >
        <td><a href="{{ path('backend_customer_show', {'customerid' : customer.id}) }}">
                <button class="ui tiny button primary"><i class="eye icon"></i></button>
            </a></td>
        <td>{{ customer.firstname }}</td>
        <td><a href="{{ path('backend_customer_edit', {'id' : customer.id }) }}">{{ customer.lastname }}</a></td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.municipality }}</td>
        <td>{{ customer.citizenservicenumber }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ outputBool(customer.blacklisted) }}</td>
    </tr>
    {% elseif customer.isBusiness %}
    <tr>
        <td><a href="{{ path('backend_customer_show', {'customerid' : customer.id}) }}">
                <button class="ui tiny button primary"><i class="eye icon"></i></button>
            </a></td>
        <td>{{ customer.contactfirstname }}</td>
        <td>{{ customer.contactlastname }}</a></td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.municipality }}</td>
        <td><a href="{{ path('backend_customer_edit', {'id' : customer.id }) }}">{{ customer.companyname }}</a></td>
        <td>{{ customer.phone }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
</table>