<table class="ui table compact striped">
    <thead>
    <tr>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Email</th>
        <th>Stad</th>
        <th>BSN</th>
        <th>Telefoonnummer</th>
        <th class="collapsing">Op zwarte lijst?</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in result %}
        <tr
                {% if customer.blacklisted %}
                    class="negative"
                {% endif %}
        >
            <td>{{ customer.firstname }}</td>
            <td><a href="{{ path('backend_customer_edit', {'id' : customer.id }) }}">{{ customer.lastname }}</a></td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.citizenservicenumber }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ outputBool(customer.blacklisted) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th class="collapsing">{{ result|length }} Klant(en)</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tfoot>
</table>