{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Bekijk klant{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-sm-8">
        <div class="box box-primary box-padding-small">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {% if customer.isPrivate %}
                    Klantinformatie (Particuliere klant)
                    {% elseif customer.isBusiness %}
                    Klantinformatie (Zakelijke klant)
                    {% endif %}
                </h3>
            </div>
            {% if customer.isPrivate %}
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Naam</td>
                        <td>{{ customer.name }}</td>
                    </tr>
                    <tr>
                        <td>Geboortedatum</td>
                        <td>{{ customer.dayofbirth|date('d-m-Y') }}</td>
                    </tr>
                    <tr>
                        <td>BSN/Rijksnummer</td>
                        <td>{{ customer.citizenServiceNumber }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                    <tr>
                        <td>Telefoon</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td>{{ customer.address }} {{ customer.housenumber }}</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td>{{ customer.zipcode }}</td>
                    </tr>
                    <tr>
                        <td>Gemeente</td>
                        <td>{{ customer.municipality }}</td>
                    </tr>
                    <tr>
                        <td>Land</td>
                        <td>{{ customer.country }}</td>
                    </tr>
                    <tr>
                        <td>Zwartelijst ?</td>
                        <td>{{ outputBool(customer.blacklisted) }}</td>
                    </tr>
                    {% if customer.blacklisted %}
                    <tr>
                        <td>Reden</td>
                        <td>{{ customer.blacklistedreason }}</td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}
            {% if customer.isBusiness %}
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Bedrijfsnaam</td>
                        <td>{{ customer.companyname }}</td>
                    </tr>
                    <tr>
                        <td>Contactpersoon</td>
                        <td>{{ customer.contactname }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                    <tr>
                        <td>Telefoonnummer</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td>{{ customer.address }} {{ customer.housenumber }}</td>
                    </tr>
                    <tr>
                        <td>Gemeente</td>
                        <td>{{ customer.municipality }}</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td>{{ customer.zipcode }}</td>
                    </tr>
                    <tr>
                        <td>Land</td>
                        <td>{{ customer.country }}</td>
                    </tr>
                    <tr>
                        <td>Bankrekeningnummer</td>
                        <td>{{ customer.accountnumber }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if customer.idcard is defined and customer.idcard is not null %}
                <h3 class="ui header">ID kaart informatie</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Nationalnumber</td>
                        <td>{{ customer.idcard.nationalnumber }}</td>
                    </tr>
                    <tr>
                        <td>Geboortedatum</td>
                        <td>{{ customer.idcard.dayofbirth }}</td>
                    </tr>
                    <tr>
                        <td>Geslacht</td>
                        <td>{{ customer.idcard.gender }}</td>
                    </tr>
                    <tr>
                        <td>Naam</td>
                        <td>{{ customer.idcard.name }}</td>
                    </tr>
                    <tr>
                        <td>Voornaam</td>
                        <td>{{ customer.idcard.firstname }}</td>
                    </tr>
                    <tr>
                        <td>Doopnamen</td>
                        <td>{{ customer.idcard.middlenames }}</td>
                    </tr>
                    <tr>
                        <td>Nationaliteit</td>
                        <td>{{ customer.idcard.nationality }}</td>
                    </tr>
                    <tr>
                        <td>Geboorteplaats</td>
                        <td>{{ customer.idcard.placeofbirth }}</td>
                    </tr>
                    <tr>
                        <td>Type document</td>
                        <td>{{ customer.idcard.documenttype }}</td>
                    </tr>
                    <tr>
                        <td>Kaartnummer</td>
                        <td>{{ customer.idcard.cardnumber }}</td>
                    </tr>
                    <tr>
                        <td>Chipnummer</td>
                        <td>{{ customer.idcard.chipnumber }}</td>
                    </tr>
                    <tr>
                        <td>Geldig van</td>
                        <td>{{ customer.idcard.validitydatebegin }}</td>
                    </tr>
                    <tr>
                        <td>Geldig tot</td>
                        <td>{{ customer.idcard.validitydateend }}</td>
                    </tr>
                    <tr>
                        <td>Afgegeven in</td>
                        <td>{{ customer.idcard.deliverymunicipality }}</td>
                    </tr>
                    <tr>
                        <td>Straat en huisnummer</td>
                        <td>{{ customer.idcard.streetandnumber }}</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td>{{ customer.idcard.zip }}</td>
                    </tr>
                    <tr>
                        <td>Gemeente</td>
                        <td>{{ customer.idcard.municipality }}</td>
                    </tr>
                    <tr>
                        <td>Foto</td>
                        <td><img src="{{ asset('pictures/customer.gif') }}" alt="customer_photo" height="100"></td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}