{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Algemene gegevens{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Opties</div>
                    <div class="panel-body">
                        {{ form_row(form.gender) }}
                        {{ form_row(form.outsideAnimal) }}
                        {{ form_row(form.compatibleChildrenBelow10y) }}
                        {{ form_row(form.compatibleChildrenAbove10y) }}
                        {{ form_row(form.compatibleChildrenAbove7y) }}
                        {{ form_row(form.compatibleChildrenBelow7y) }}
                        {{ form_row(form.compatibleOldPeople) }}
                        {{ form_row(form.escapesAlot) }}
                        {{ form_row(form.toiletTrained) }}
                        {{ form_row(form.sterilized) }}
                        {{ form_row(form.visiblePublic) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Algemeen</div>
                    <div class="panel-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.dayLocation) }}
                        {{ form_row(form.nightLocation) }}
                        {{ form_row(form.chipnumber) }}
                        {{ form_row(form.notChipped) }}
                        {{ form_row(form.passportNumber) }}
                        {{ form_row(form.colour) }}
                        {{ form_row(form.race) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">Data</div>
                    <div class="panel-body">
                        {{ form_row(form.dayOfBirth) }}
                        {{ form_row(form.registerDate) }}
                        {{ form_row(form.admissionDate) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Specifieke gegevens</div>
                    <div class="panel-body">
                        {{ form_row(form.characteristics) }}
                        {{ form_row(form.medicalProblems) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.knownAggression) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Andere dieren</div>
                    <div class="panel-body">
                        {{ form_row(form.compatibleSmallDog) }}
                        {{ form_row(form.compatibleLargeDog) }}
                        {{ form_row(form.compatibleCat) }}
                        {{ form_row(form.compatibleOtherAnimals) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ outputFormButton('Bijwerken') }}
    {{ form_end(form) }}
{% endblock %}