{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Werkschema aanpassen{% endblock %}
{% block body %}
    <div class="ui tab segment active">
        <div class="ui sixteen column grid container">
            <div class="sixteen wide column">
                {{ form_start(form) }}
                <table class="ui table striped collapsing">
                    <tr>
                        <td>{{ form_row(form.monStart) }}</td>
                        <td>{{ form_row(form.monEnd) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.tueStart) }}</td>
                        <td>{{ form_row(form.tueEnd) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.wedStart) }}</td>
                        <td>{{ form_row(form.wedEnd) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.thuStart) }}</td>
                        <td>{{ form_row(form.thuEnd) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.friStart) }}</td>
                        <td>{{ form_row(form.friEnd) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.satStart) }}</td>
                        <td>{{ form_row(form.satEnd) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_row(form.sunStart) }}</td>
                        <td>{{ form_row(form.sunEnd) }}</td>
                    </tr>
                </table>
                {{ outputFormButton('Aanpassen') }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}