{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}{% endblock %}
{% block body %}
    <div class="ui tab segment active">
        <div class="ui sixteen column grid container">
            <div class="sixteen wide column">
                {% if schedule %}
                    <table class="ui table compact collapsing striped">
                        <tbody>
                        <tr>
                            <td>Maandag</td>
                            <td>{{ schedule.monStart|date('G:i') }} | {{ schedule.monEnd|date('G:i') }}</td>
                        </tr>
                        <tr>
                            <td>Dinsdag</td>
                            <td>{{ schedule.tueStart|date('G:i') }} | {{ schedule.tueEnd|date('G:i') }}</td>
                        </tr>
                        <tr>
                            <td>Woensdag</td>
                            <td>{{ schedule.wedStart|date('G:i') }} | {{ schedule.wedEnd|date('G:i') }}</td>
                        </tr>
                        <tr>
                            <td>Donderdag</td>
                            <td>{{ schedule.thuStart|date('G:i') }} | {{ schedule.thuEnd|date('G:i') }}</td>
                        </tr>
                        <tr>
                            <td>Vrijdag</td>
                            <td>{{ schedule.friStart|date('G:i') }} | {{ schedule.friEnd|date('G:i') }}</td>
                        </tr>
                        <tr>
                            <td>Zaterdag</td>
                            <td>{{ schedule.satStart|date('G:i') }} | {{ schedule.satEnd|date('G:i') }}</td>
                        </tr>
                        <tr>
                            <td>Zondag</td>
                            <td>{{ schedule.sunStart|date('G:i') }} | {{ schedule.sunEnd|date('G:i') }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <a href="{{ path('backend_employee_workschedule_edit', {'id' : app.request.attributes.get('id')}) }}">
                                    <div class="ui mini info labeled icon button view">
                                        <i class="edit icon"></i> Aanpassen
                                    </div>
                                </a>
                            </th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p>Er is nog geen schema voor deze werknemer, <a
                                href="{{ path('backend_employee_workschedule_edit', {'id' : app.request.attributes.get('id')}) }}">maak</a>
                        er 1 aan.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}