{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Bekijk actie{% endblock %}
{% block body %}
    <div class="ui three column very relaxed grid">
        <div class="five wide column">
            <h3 class="ui header">Actie</h3>
            <table class="ui table very basic">
                <tbody>
                <tr>
                    <td>Id</td>
                    <td>{{ action.id }}</td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td>{{ action.date|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ action.type|trans }}</td>
                </tr>
                <tr>
                    <td>Totale kosten</td>
                    <td><i class="euro icon"></i>{{ action.totalCosts }}</td>
                </tr>
                {% if action.customer != null %}
                <tr>
                    <td>Gevonden door</td>
                    <td>
                        <a href="{{ path('backend_customer_edit', {'id' : action.customer.id}) }}">{{ action.customer.firstname }} {{ action.customer.lastname }}</a>
                    </td>
                {% endif %}
                </tr>
                <tr>
                    <td>Nog te voldoen</td>
                    <td><i class="euro icon"></i>{{ action.sumRemaining }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="five wide column">
            <h3 class="ui header">Eerdere transacties</h3>
            <table class="ui table very basic">
                <tbody>
                {% for transaction in action.transaction %}
                    <tr>
                        <td>Id : <a href="{{ path('backend_bookkeeping_transaction_show', {'transactionid' : transaction.id}) }}">{{ transaction.id }}</a></td>
                        <td>{{ transaction.paymenttype|trans }}</td>
                        <td>Bedrag: <i class="euro icon"></i>{{ transaction.paidamount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="five wide column">
            <h3 class="ui header">Betreft dier</h3>
            <table class="ui table very basic">
                <tbody>
                <tr>
                    <td>Naam</td>
                    <td>
                        <a href="{{ path('backend_animal_show', {'id' : action.animal.id}) }}">{{ action.animal.name }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
    <div class="ui sixteen column grid container">
        <div class="ui sixteen wide column">
            <div class="ui ordered steps">
                <div class="completed step">
                    <div class="content">
                        <div class="title">Gevonden actie aanmaken</div>
                        <div class="description">Selecteer het gevonden dier <br/> en koppel er indien beschikbaar een
                            klant aan
                        </div>
                    </div>
                </div>
                <div class="
        {% if action.isfullypaid %} completed
        {% else %} active {% endif %}
         step">
                    <div class="content">
                        <div class="title">Betaling</div>
                        <div class="description">
                            Zorg ervoor dat alle kosten betaald zijn.
                            {% if action.fullypaid == false %}
                                <br/><br/> <a
                                    href="{{ path('backend_bookkeeping_transaction_searchcustomer', {'actionid' : action.id}) }}">
                                <button class="ui tiny button positive"><i class="plus icon"></i>Transactie</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="
        {% if action.completed %} completed
        {% elseif action.isfullypaid %} active
        {% elseif action.isfullypaid == false %} disabled {% endif %}
        step">
                    <div class="content">
                        <div class="title">Voltooi de actie</div>
                        <div class="description">Wijzig de status van het dier.
                            {% if action.completed == false and action.isfullypaid %}
                                <br/><br/> <a
                                    href="{{ path('backend_bookkeeping_action_found_finish', {'actionid' : action.id}) }}">
                                <button class="ui tiny button positive"><i class="flag checkered icon"></i>Afronden
                                </button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('backend_bookkeeping_action_index') }}">
                <button class="ui button primary">Terug naar overzicht</button>
            </a>
        </div>
    </div>
{% endblock %}