{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Actie starten{% endblock %}
{% block pagesubtitle %}Gevonden{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <h3>Dier</h3>
            <table class="table table-condensed">
                <tbody>
                <tr>
                    <td>Naam</td>
                    <td>{{ animal.name }}</td>
                </tr>
                </tbody>
            </table>
            <p>
                <a href="{{ path('backend_animal_show', {'id' : animal.id}) }}" target="_blank">Meer informatie
                </a><i class="fa fa-external-link"></i>
            </p>
        </div>
        {% if customer is defined and customer.id is not null %}
            <div class="col-sm-3">
                <h3>Klant</h3>
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <td>Naam</td>
                        <td>{{ customer.name }}</td>
                    </tr>
                    </tbody>
                </table>
                <p><a href="{{ path('backend_customer_show', {'customerid' : customer.id}) }}" target="_blank">Meer
                        informatie
                    </a><i class="fa fa-external-link"></i></p>
            </div>
        {% endif %}
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="callout callout-info">
                <p>De kosten zijn alleen voor het vinden van het dier, niet om het af te staan of terug aan de eigenaar
                    te geven.</p>
            </div>
            {{ outputFormButton('Aanmaken') }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
