{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Actie overzicht{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="four wide column">
            <h3 class="ui header">Filters</h3>
            {{ form_start(form) }}
            <table class="ui table very basic collapsing">
                <tbody>
                <tr>
                    <td>Van</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.datestart) }}</td>
                </tr>
                <tr>
                    <td>Tot</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.dateend) }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.type) }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.status) }}</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.showall) }}</td>
                </tr>
                </tbody>
            </table>
            {{ form_end(form) }}
            <a href="{{ path('backend_bookkeeping_index') }}">
                <button class="ui button primary">Terug naar boekhouding</button>
            </a>
        </div>
        <div class="twelve wide column">
            {% if result is defined %}
                <p>Periode: {{ datestart }} t/m {{ dateend }}</p>
            {% endif %}
            <table class="ui table very basic">
                <thead>
                <tr>
                    <th></th>
                    <th>Datum</th>
                    <th>Type</th>
                    <th>Kosten</th>
                    <th class="collapsing">Te voldoen</th>
                    <th>Klant</th>
                    <th>Dier</th>
                    <th>Afgerond</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% if result is defined %}
                    {% for action in result %}
                        <tr>
                            <td>
                                <a href="{{ path('backend_bookkeeping_action_show', {'actionid' : action.id}) }}">
                                    <button class="ui tiny button primary"><i class="eye icon"></i></button>
                                </a>
                            </td>
                            <td class="collapsing">{{ action.date|date('d-m-Y') }}</td>
                            <td>{{ action.type|trans }}</td>
                            <td><i class="euro icon"></i>{{ action.totalCosts }}</td>
                            <td {% if action.fullyPaid %} class="text-success" {% endif %}>
                                <i class="euro icon"></i>{{ action.sumRemaining }}
                            </td>
                            {% if action.customer  != null%}
                                <td class="collapsing">
                                    <a href="{{ path('backend_customer_edit', {'id' : action.customer.id}) }}">
                                        {{ action.customer.firstname }} {{ action.customer.lastname }}
                                    </a>
                                </td>
                            {% else %}
                                <td>{{ outputBool(false) }}</td>
                            {% endif %}
                            <td class="collapsing">
                                <a href="{{ path('backend_animal_show', {'id' : action.animal.id}) }}">{{ action.animal.name }}
                                </a>
                            </td>
                            <td {% if action.completed == false %} class="text-danger" {% endif %}>{{ outputBool(action.completed) }}</td>
                            <td class="collapsing">
                                {% if action.fullyPaid == false and action.totalCosts != 0 %}
                                    <a href="{{ path('backend_bookkeeping_transaction_searchcustomer', {'actionid' : action.id}) }}">
                                        <button class="ui tiny button positive"><i class="plus icon"></i>Transactie
                                        </button>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
