<table class="ui table compact striped">
    <thead>
    <tr>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Email</th>
        <th>Stad</th>
        <th>BSN</th>
        <th>Telefoonnummer</th>
        <th class="collapsing">Op zwarte lijst?</th>
        <th>Geadopteerd</th>
        <th class="collapsing">Eigenaar van</th>
        <th>Afgestaan</th>
        <th>Gevonden</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in result %}
        <tr
                {% if customer.blacklisted %}
                    class="negative"
                {% endif %}
        >
            <td>{{ customer.firstname }}</td>
            <td><a href="{{ path('backend_bookkeeping_action_select', {'customerid' : customer.id}) }}">{{ customer.lastname }}</a></td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.citizenservicenumber }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ outputBool(customer.blacklisted) }}</td>
            <td>
                {% for animal in customer.adoptedPets %}
                    <li><a href="{{ path('backend_animal_show', {'id' : animal.animal.id}) }}">{{ animal.animal.name }}</a></li>
                {% endfor %}
            </td>
            <td>
                {% for animal in customer.ownsanimals %}
                    <li><a href="{{ path('backend_animal_show', {'id' : animal.animal.id}) }}">{{ animal.animal.name }}</a></li>
                {% endfor %}
            </td>
            <td>
                {% for animal in customer.abandonedanimals %}
                    <li><a href="{{ path('backend_animal_show', {'id' : animal.animal.id}) }}">{{ animal.animal.name }}</a></li>
                {% endfor %}
            </td>
            <td>
                {% for animal in customer.foundanimals %}
                    <li><a href="{{ path('backend_animal_show', {'id' : animal.animal.id}) }}">{{ animal.animal.name }}</a></li>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th class="collapsing">{{ result|length }} Klant(en)</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </tfoot>
</table>