{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Actie aanmaken{% endblock %}
{% block pagesubtitle %}Zoek klant{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filters</h3>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="four wide">Achternaam</th>
                            <th class="four wide">BSN/Rijksnummer</th>
                            <th class="four wide">Gemeente</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_row(form.lastname) }}</td>
                            <td>{{ form_row(form.citizenservicenumber) }}</td>
                            <td>{{ form_row(form.municipality) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Bedrijfsnaam</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ form_row(form.companyname) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="callout callout-info">
                <p>
                    In het geval van een gevonden status gaat het om de persoon die het dier gevonden
                    heeft.
                </p>
                <p>
                    Als de klant niet bekend is klik dan <a
                            href="{{ path('backend_bookkeeping_action_select', {'customerid' : 'unknown'}) }}">hier</a>
                    of maak een <a href="{{ path('backend_customer_create') }}">nieuwe</a> aan.
                </p>
            </div>
        </div>
    </div>
    <div id="searchresult"></div>
    {% set animalid = app.request.get('animalid') %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>var requestby = 'bookkeepingbundle_action';</script>
    <script src="{{ asset('js/views/CustomerBundle/Search.js') }}"></script>
{% endblock %}

