<table class="ui table compact striped">
    <thead>
    {% for customer in result|slice(0) %}
        {% if customer.isPrivate %}
            <tr>
                <th>Naam</th>
                <th>Email</th>
                <th>Gemeente</th>
                <th>BSN</th>
                <th>Telefoonnummer</th>
                <th class="collapsing">Op zwarte lijst?</th>
            </tr>
        {% endif %}
    {% endfor %}
    {% for customer in result|slice(0) %}
        {% if customer.isBusiness %}
            <tr>
                <th>Naam</th>
                <th>Email</th>
                <th>Gemeente</th>
                <th>Bedrijfsnaam</th>
                <th>Telefoonnummer</th>
            </tr>
        {% endif %}
    {% endfor %}
    </thead>
    <tbody>
    {% for customer in result %}
        {% if customer.isPrivate %}
            <tr
                    {% if customer.blacklisted %}
                        class="negative"
                    {% endif %}
            >
                <td><a href="{{ path('backend_bookkeeping_action_select', {'customerid' : customer.id }) }}">{{ customer.name }}</a></td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.municipality }}</td>
                <td>{{ customer.citizenservicenumber }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ outputBool(customer.blacklisted) }}</td>
            </tr>
        {% endif %}
        {% if customer.isBusiness %}
            <tr>
                <td>{{ customer.contactname }}</a></td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.municipality }}</td>
                <td><a href="{{ path('backend_bookkeeping_action_select', {'customerid' : customer.id }) }}">{{ customer.companyname }}</a></td>
                <td>{{ customer.phone }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
