{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Actie aanmaken - Selecteer actie{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="six wide column">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        <a class="header" href="{{ path('backend_bookkeeping_action_adopted_start') }}">Adoptie</a>
                        <div class="description">Als u een dier wil laten adopteren</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" href="{{ path('backend_bookkeeping_action_abandoned_start') }}">Afstaan</a>
                        <div class="description">Als iemand een dier wil afstaan</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" href="{{ path('backend_bookkeeping_action_seized_start', {'animalid' : app.request.get('animalid')}) }}">In beslag nemen</a>
                        <div class="description">Als het dier in beslag genomen wordt</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header" href="{{ path('backend_bookkeeping_action_found_start', {'animalid' : app.request.get('animalid')}) }}">Gevonden</a>
                        <div class="description">Als een dier gevonden is en het moet terug naar de eigenaar of afgestaan worden.</div>
                    </div>
                </div>
                <br />
                <a href="{{ path('backend_bookkeeping_index') }}"><button class="ui button negative">Terug</button></a>
            </div>
        </div>
    </div>
{% endblock %}