{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Statistieken - Dieren - Binnengekomen kittens{% endblock %}
{% block body %}
    <div class="ui sixteen column grid container">
        <div class="four wide column">
            <h3 class="ui header">Filters</h3>
            {{ form_start(form) }}
            <table class="ui table very basic collapsing">
                <tbody>
                <tr>
                    <td>Van</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.datestart) }}</td>
                </tr>
                <tr>
                    <td>Tot</td>
                </tr>
                <tr>
                    <td>{{ form_row(form.dateend) }}</td>
                </tr>
                <tr>
                    <td>{{ outputFormButton('Zoeken') }}</td>
                </tr>
                </tbody>
            </table>
            {{ form_end(form) }}
            <p>Data zal worden opgehaald d.m.v. de registratie datum te vergelijken met de geboortedatum.</p>
        </div>
        <div class="twelve wide column">
            {% if result is defined %}
                <p>Periode: {{ datestart }} t/m {{ dateend }}</p>
                <p>Totaal aantal binnengekomen kittens deze periode: <b>{{ result }}</b></p>
            {% endif %}
        </div>
    </div>
{% endblock %}