{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Locaties{% endblock %}
{% block body %}
    <div class="ui twelve column grid container">
        <div class="six wide column">
            <table class="ui table compact striped">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th class="collapsing">Geschikt voor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for location in alllocations %}
                    <tr>
                        <td>{{ location.name }}</td>
                        <td>{{ location.animalType|trans }}</td>
                        <td>
                            <div id="{{ location.id }}" class="ui mini negative labeled icon button delete">
                                <i class="remove icon"></i> Verwijderen
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="collapsing">
                            <a href="{{ path('backend_location_create') }}">
                                <div class="ui mini positive labeled icon button">
                                    <i class="add square icon"></i> Locatie toevoegen
                                </div>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div id="confirmmodal" class="ui basic modal">
                <div class="ui icon header">
                    <i class="archive icon"></i>
                    Locatie verwijderen
                </div>
                <div class="content">
                    <p>Weet u zeker dat u de locatie wil verwijderen?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                    </div>
                    <div id="approve" class="ui green ok inverted button">
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/LocationBundle/Default/ConfirmDelete.js') }}"></script>
{% endblock %}