{% extends '@Backend/Base/Base.html.twig' %}
{% block pagetitle %}Locaties{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>Geschikt voor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for location in alllocations %}
                    <tr>
                        <td>{{ location.name }}</td>
                        <td>{{ location.animalType|trans }}</td>
                        <td>
                            <div id="{{ location.id }}" class="btn btn-sm btn-danger delete">
                                <i class="fa fa-trash-o"></i> Verwijderen
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="collapsing">
                            <a href="{{ path('backend_location_create') }}">
                                <div class="btn btn-sm btn-success">
                                    <i class="fa fa-plus"></i> Locatie toevoegen
                                </div>
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>

            <div id="confirmmodal" class="modal modal-danger">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title">Waarschuwing</h4>
                        </div>
                        <div class="modal-body">
                            <p>Weet u zeker dat u de locatie wil verwijderen?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Nee</button>
                            <button id="approve" type="button" class="btn btn-outline">Ja</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/LocationBundle/Default/ConfirmDelete.js') }}"></script>
{% endblock %}