{% extends '@Backend/Base/Base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/fullcalendar.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery.qtip.min.css') }}" />
    {{ parent() }}
{% endblock %}
{% block pagetitle %}Agenda{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <p class="text-center">Groen = gedaan, Blauw = todo, Rood = overtijd, Grijs = door systeem aangemaakt</p>
            <br/>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('js/locale/nl.js') }}"></script>
    <script src="{{ asset('js/jquery.qtip.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendarapp.js') }}"></script>
{% endblock %}