{% block nav %}
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('backend_index') }}"><img id="logo" src="{{ asset('img/favicon.png') }}"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('backend_animal_index') }}">Dieren</a></li>
                    <li><a href="{{ path('backend_animal_create') }}">Aanmelden</a></li>
                    <li><a href="{{ path('backend_location_index') }}">Locatiebeheer</a></li>
                    <li><a href="{{ path('backend_customer_index') }}">Klantbeheer</a></li>
                    <li><a href="{{ path('backend_employee_index') }}">Gebruikersbeheer</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agenda <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('backend_calendar') }}">Bekijken</a></li>
                            <li><a href="{{ path('backend_calendaritem_create') }}">Agendapunt aanmaken</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Afmelden</a></li>
                    <li><a href="#">Publiek</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {#app.user.username#} </a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}