{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% form_theme form '@Frontend/FormTemplate/semantic-ui-2.2.html.twig' %}
{% block pagetitle %}Contact{% endblock %}
{% block body %}
    <div class="row contact-text">
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="ui success message">
                <div class="header">Bedankt!</div>
                <p>{{ flash_message }}</p>
            </div>
        {% endfor %}
        <div>
            <p><b>Mailen is voor ons nog steeds het makkelijkste daar wij dan niet tijdens ons werk met de dieren onderbroken worden!
                    Gelieve dit zoveel mogelijk te respecteren, uw mails zullen binnen de 24u beantwoord worden!
                </b>
                <br /><br />
            <p>U kunt het formulier hieronder gebruiken om contact met ons op te nemen.</p>
            </p>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ outputFormButton('Aanmaken', true) }}
    {{ form_end(form) }}

    <div class="ui horizontal segments">
        <div class="ui segment">
            <table class="ui one column compact table">
                <tbody>
                <tr>
                    <td>vzw Dieren in Nood</td>
                </tr>
                <tr>
                    <td>Eygenweg 1</td>
                </tr>
                <tr>
                    <td>3640 Kinrooi</td>
                </tr>
                <tr>
                    <td><a href="mailto:info@vzwdiereninnood.be">info@vzwdiereninnood.be</a></td>
                </tr>
                <tr>
                    <td>0471 74 36 91</td>
                </tr>
                <tr>
                    <td>Ondernemingsnummer 0838-237-871</td>
                </tr>
                <tr>
                    <td><img src="{{ asset('img/contact.png') }}" alt="contact_img" width="280"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ui segment">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.042197209429!2d5.763615316150487!3d51.126129679574184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0cc1c05ef6c5f%3A0x1ee2fce2b62ee0eb!2sEygenweg+1%2C+3640+Kinrooi%2C+Belgi%C3%AB!5e0!3m2!1snl!2snl!4v1481391944945" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}