{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block pagetitle %}Zoek een dier{% endblock %}
{% block body %}
    <div class="ui divider horizontal"></div>
    <table class="ui selectable celled table">
        <thead>
        <tr>
            <th></th>
            <th>Naam</th>
            <th>Ras</th>
            <th>Geslacht</th>
            <th>Leeftijd</th>
            <th>Kleur</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr id="{{ animal.id }}" class="{{ animal.getclassname }}">
            <td>
                {% for picture in animal.pictures|slice(0,1) %}
                    <img src="{{ picture.getpublicurl }}" height="30">
                {% endfor %}
                {% if animal.pictures is empty %}
                    <img src="{{ asset('img/no_picture.jpg') }}" height="20">
                {% endif %}
            </td>
            <td>{{ animal.name }}</td>
            <td>{{ animal.race }}</td>
            <td>{{ outputGender(animal.gender) }}</td>
            <td>{{ animal.age }}</td>
            <td>{{ animal.colour }}</td>
            {% for state in animal.status %}
                {% if state.archived == false %}
                    <td>{{ state.getclassname|trans }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
    <p>Klik op de foto voor meer informatie.</p>
    <div id="showmodal" class="ui modal">
        <div class="content">
            <div id="result"></div>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
            </div>
            <div id="approve" class="ui green ok inverted button">
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/FrontendBundle/Dog/ShowDog.js') }}"></script>
    <script src="{{ asset('js/views/FrontendBundle/Cat/ShowCat.js') }}"></script>
{% endblock %}
