<table class="ui selectable celled table">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Naam</th>
        <th>Soort</th>
        <th>Geslacht</th>
        <th>Leeftijd</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for animal in result %}
        <tr>
            <td>
                {% for picture in animal.pictures|slice(0,1) %}
                    <img class="ui centered mini image" src="{{ picture.publicurl }}">
                {% endfor %}
            </td>
            <td>{% if animal.getclassname == 'Cat' %}
                <a href="{{ path('frontend_cat_show', {'id' : animal.id}) }}">{{ animal.name }}</a>
                {% elseif animal.getclassname == 'Dog' %}
                <a href="{{ path('frontend_dog_show', {'id' : animal.id}) }}">{{ animal.name }}</a>
                {% endif %}
            </td>
            <td>{{ animal.getclassname|trans }}</td>
            <td>{{ outputGender(animal.gender) }}</td>
            <td>{{ animal.age }}</td>
            {% for state in animal.status %}
                {% if state.archived == false %}
                <td>{{ state.getclassname|trans }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Totaal: {{ result|length }}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>