{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block pagetitle %}Zoekresultaten{% endblock %}
{% block body %}
    <table class="ui selectable celled table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Naam</th>
            <th>Soort</th>
            <th>Geslacht</th>
            <th>Leeftijd</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in result %}
            <tr id="{{ animal.id }}" class="{{ animal.getclassname }}">
                <td>
                    {% for picture in animal.pictures|slice(0,1) %}
                        <img src="{{ picture.publicurl }}" height="20">
                    {% endfor %}
                </td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.getclassname|trans }}</td>
                <td>{{ outputGender(animal.gender) }}</td>
                <td>{{ animal.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="result"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/FrontendBundle/Cat/PublicShowCat.js') }}"></script>
    <script src="{{ asset('js/views/FrontendBundle/Dog/PublicShowDog.js') }}"></script>
{% endblock %}