{% extends 'FrontendBundle:Base:Base.html.twig' %}
{% block pagetitle %}Zoek een dier{% endblock %}
{% block body %}
    <div class="ui divider horizontal"></div>
    <h3 class="ui header">Filters</h3>
    <table class="ui table very basic">
        <thead>
        <tr>
            <th>Type</th>
            <th>Geslacht</th>
            <th class="three wide">Leeftijd</th>
            <th class="four wide">Status</th>
            <th class="collapsing">Gesteriliseerd / Gecastereerd</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ form_row(form.type) }}</td>
            <td>{{ form_row(form.gender) }}</td>
            <td>{{ form_row(form.agestart) }}
                {{ form_row(form.ageend) }}
            </td>
            <td>{{ form_row(form.status) }}</td>
            <td>{{ form_row(form.sterilized) }}</td>
        </tr>
        </tbody>
    </table>
    <div class="ui divider horizontal"></div>
    <div id="searchresult"></div>
    <div class="ui divider horizontal"></div>
    <div class="ui divider horizontal"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/views/FrontendBundle/Default/SearchAnimals.js') }}"></script>
{% endblock %}